div{
    border: 2px solid white;
    border-collapse: collapse; 
}


.primero{
    background-color: green;
}
.segundo{
background-color: red;

}
.tercero{
    background-color: purple;


}
.cuarto{
    background-color: wheat;

}
.quinto{
    background-color: blue;

}