.primero{
    background-color: green;
}
.segundo{
background-color: red;
height: 300px;
}
.tercero{
    background-color: purple;
    height: 50px;
}
.cuarto{
    background-color: wheat;
    height: 100px;
}
.quinto{
    background-color: blue;
    height: 88px;
}