h1{
    text-align: center;
    background-color: blue;
    color: white;
}
h2{
    color: aquamarine;
    text-align: center
}
.imagenes{
    border: 1px solid black; 
}
.col-iz{
    background-color: pink;
}
.col-der{
    background-color: orange;
    font-size: 15px;
}

.col1{
    background-color: aquamarine;
}
.col2{
    background-color: wheat;
}
.pie{
    background-color: green;
    text-align: center;
    font-size: 25px;
}
@media (max-width: 768px) {
    .pie{
        font-size: 18px;
    }
  }
  .container{
      border: 1px solid black;
  }