#cabecera{
display: inline-block;
    margin: auto;
    height: 140px;
}

#tiempo{
    display:inline-block;
    margin: auto;
    height: 82px;
}


#sirius1{
    margin: auto;
    width: 754px;
    height: 100px;
}
#sighted{
    margin: auto;
}

#floats{
    float: left;
}
#sirius2{
    height: 420px;
    width: 420px;
}
#izquierda3{
    float: left;
}
#pie{
    width: 420px;
}
#sig{
    width: 420px;
}